<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.momo.factory">

    <!-- A momo delivery app only needs network + location. Dangerous/unused
         permissions (contacts, mic, storage, phone state) have been removed. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MomoFactory"
        android:usesCleartextTraffic="false"
        tools:targetApi="31">


        <!-- Only the launcher entry point is exported. -->
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".view.SignupActivity"
            android:exported="false" />

        <activity
            android:name=".view.DashboardActivity"
            android:exported="false" />

        <!-- Admin panel must never be launchable by other apps. -->
        <activity
            android:name=".view.AdminActivity"
            android:exported="false" />

    </application>

</manifest>
